<!-- 
    TODO: Finish dis.
    -->
<html>
<head>
    <script>
    function populateFloors()
    {
        for (i = 1; i <= @(LibraryWorkroomSystem.Models.Database.LibraryDatabase.getInstance().getNumberOfFloors()); i++)
        {
            document.getElementById("floors").innerHTML += "<option value=\"" + i + "\">" + i + "</option>";
        }
    }
    </script>

    <script type="text/javascript" src="~/Scripts/Workrooms/WorkroomScripts.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-md-6">
            <h2>Search for Workrooms</h2>
            <br />
            @using (Html.BeginForm("WorkroomSelection", "Workrooms", FormMethod.Post, new { id = "workroomSearch", onsubmit = "return validateDate()" }))
            {
            <h4>Please select a floor.</h4>
            <select id="floors" name="floornum">Floor</select>
            <script>populateFloors();</script>
            <br />
            <h4>Please enter a workroom size.</h4>
            @Html.TextBox("roomSize", "", new { placeholder = "10" })
            <br />
            <h4>Please select a date. (DD-MM-YYYY)</h4>
            <select name="day">
                @for (int i = 1; i <= 31; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <select name="month">
                @for (int i = 1; i <= 12; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <select name="year">
                @for (int i = 2018; i <= 2025; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <br />
            <br />
            <button type="submit" class="btn btn-default">Search</button>
            }
        </div>
    
        
        <div class="col-md-6">
            <h2>Your Booked Workrooms</h2>
            @{ 
                int count = 0;
                foreach (LibraryWorkroomSystem.Models.DataTypes.WorkroomReservation res in LibraryWorkroomSystem.Models.Database.LibraryDatabase.getInstance().getReservations(LibraryWorkroomSystem.Models.Database.Sessions.getUser()))
                {
                    if (res.timeOfReservation.Subtract(DateTime.Now).TotalMilliseconds > 0)
                    {
                    <div style="border-top: thin solid gray; border-bottom: thin solid gray;" class="container">
                        <p>Workroom Number: @res.room.number</p>
                        <p>Floor: @res.room.floor</p>
                        <p>Time of Booking: @res.timeOfReservation.ToString()</p>
                        @using (Html.BeginForm("RemoveBooking", "Workrooms"))
                        {
                            <button type="submit" class="btn btn-default">Remove this Booking</button>
                            <input hidden name="floorNum" value="@res.room.floor" />
                            <input hidden name="roomNum" value="@res.room.number" />
                            <input hidden name="day" value="@res.timeOfReservation.Day" />
                            <input hidden name="month" value="@res.timeOfReservation.Month" />
                            <input hidden name="year" value="@res.timeOfReservation.Year" />
                            <input hidden name="time" value="@res.timeOfReservation.Hour" />
                        }
                    </div>
                        count++;
                    }
                }
                if(count == 0)
                {
                    <h5>You have no workrooms booked.</h5>
                }
            }
        </div>
    </div>
</body>
</html>