<html>
<head>
    
</head>
@{
    ViewBag.Title = "WorkroomSelection";
}

<body>
    <h2>Here's what we found for @ViewBag.roomsize person rooms on floor @ViewBag.floornum.</h2>
    @if (LibraryWorkroomSystem.Models.Database.LibraryDatabase.getInstance().getWorkrooms(ViewBag.floornum).Count == 0)
    {
        <h3>There are no workrooms on this floor.</h3>
    }
    else
    {
    <table id="roomTimes">
        <tr>
            <!--Assumption made that the library is only open until 4:00PM-->
            <th>Workroom Number</th>
            <th>Workroom Capacity</th>
            <th>8:00 AM</th>
            <th>9:00 AM</th>
            <th>10:00 AM</th>
            <th>11:00 AM</th>
            <th>12:00 PM</th>
            <th>1:00 PM</th>
            <th>2:00 PM</th>
            <th>3:00 PM</th>
        </tr>

        @{
            List<LibraryWorkroomSystem.Models.DataTypes.WorkroomReservation> reservations = LibraryWorkroomSystem.Models.Database.LibraryDatabase.getInstance().getReservations(ViewBag.floornum, ViewBag.day, ViewBag.month, ViewBag.year);
            int count = 0;
            foreach (LibraryWorkroomSystem.Models.DataTypes.Workroom roomie in LibraryWorkroomSystem.Models.Database.LibraryDatabase.getInstance().getWorkrooms(ViewBag.floornum))
            {
                if(LibraryWorkroomSystem.Models.Database.LibraryDatabase.getInstance().getWorkroomsRoomSize(ViewBag.roomsize).Contains(roomie))
                {
                    count++;
                <tr>
                <td>@roomie.number</td>
                <td>@roomie.size</td>
                <!--Assumes library only open until 4:00 PM-->
                @for (int i = 0; i <= 7; i++)
                {
                    LibraryWorkroomSystem.Models.DataTypes.WorkroomReservation other = new LibraryWorkroomSystem.Models.DataTypes.WorkroomReservation();
                    other.room = new LibraryWorkroomSystem.Models.DataTypes.Workroom();
                    other.room.number = roomie.number;
                    switch (i)
                    {
                        case (0):
                            other.timeOfReservation = new DateTime(ViewBag.year, ViewBag.month, ViewBag.day, 8, 0, 0);
                            if (reservations.Contains(other))
                            {
                                <td>
                                    @using (Html.BeginForm("DisplayBooked", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/booked.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="8" />
                                    }
                                </td>
                            }
                            else
                            {
                                <td>
                                    @using (Html.BeginForm("DisplayWorkroom", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/available.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="8" />
                                    }
                                </td>
                            }
                            break;

                        case (1):
                            other.timeOfReservation = new DateTime(ViewBag.year, ViewBag.month, ViewBag.day, 9, 0, 0);
                            if (reservations.Contains(other))
                            {
                                <td>
                                     @using (Html.BeginForm("DisplayBooked", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/booked.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="9" />
                                    }
                                </td>
                            }
                            else
                            {
                                <td>
                                    @using (Html.BeginForm("DisplayWorkroom", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/available.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="9" />
                                    }
                                </td>
                            }
                            break;

                        case (2):
                            other.timeOfReservation = new DateTime(ViewBag.year, ViewBag.month, ViewBag.day, 10, 0, 0);
                            if (reservations.Contains(other))
                            {
                                <td>
                                     @using (Html.BeginForm("DisplayBooked", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/booked.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="10" />
                                    }
                                </td>
                            }
                            else
                            {
                                <td>
                                    @using (Html.BeginForm("DisplayWorkroom", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/available.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="10" />
                                    }
                                </td>
                            }
                            break;

                        case (3):
                            other.timeOfReservation = new DateTime(ViewBag.year, ViewBag.month, ViewBag.day, 11, 0, 0);
                            if (reservations.Contains(other))
                            {
                                <td>
                                     @using (Html.BeginForm("DisplayBooked", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/booked.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="11" />
                                    }
                                </td>
                            }
                            else
                            {
                                <td>
                                    @using (Html.BeginForm("DisplayWorkroom", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/available.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="11" />
                                    }
                                </td>
                            }
                            break;

                        case (4):
                            other.timeOfReservation = new DateTime(ViewBag.year, ViewBag.month, ViewBag.day, 12, 0, 0);
                            if (reservations.Contains(other))
                            {
                                <td>
                                     @using (Html.BeginForm("DisplayBooked", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/booked.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="12" />
                                    }
                                </td>
                            }
                            else
                            {
                                <td>
                                    @using (Html.BeginForm("DisplayWorkroom", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/available.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="12" />
                                    }
                                </td>
                            }
                            break;

                        case (5):
                            other.timeOfReservation = new DateTime(ViewBag.year, ViewBag.month, ViewBag.day, 13, 0, 0);
                            if (reservations.Contains(other))
                            {
                                <td>
                                     @using (Html.BeginForm("DisplayBooked", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/booked.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="13" />
                                    }
                                </td>
                            }
                            else
                            {
                                <td>
                                    @using (Html.BeginForm("DisplayWorkroom", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/available.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="13" />
                                    }
                                </td>
                            }
                            break;

                        case (6):
                            other.timeOfReservation = new DateTime(ViewBag.year, ViewBag.month, ViewBag.day, 14, 0, 0);
                            if (reservations.Contains(other))
                            {
                                <td>
                                     @using (Html.BeginForm("DisplayBooked", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/booked.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="14" />
                                    }
                                </td>
                            }
                            else
                            {
                                <td>
                                    @using (Html.BeginForm("DisplayWorkroom", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/available.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="14" />
                                    }
                                </td>
                            }
                            break;

                        case (7):
                            other.timeOfReservation = new DateTime(ViewBag.year, ViewBag.month, ViewBag.day, 15, 0, 0);
                            if (reservations.Contains(other))
                            {
                                <td>
                                     @using (Html.BeginForm("DisplayBooked", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/booked.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="15" />
                                    }
                                </td>
                            }
                            else
                            {
                                <td>
                                    @using (Html.BeginForm("DisplayWorkroom", "Workrooms"))
                                    {
                                    <button type="submit" class="btn btn-default">
                                        <img src="~/Content/Images/available.jpg" width="120" height="50" />
                                    </button>
                                    <input hidden name="floorNum" value="@roomie.floor" />
                                    <input hidden name="roomNum" value="@roomie.number" />
                                    <input hidden name="day" value="@ViewBag.day" />
                                    <input hidden name="month" value="@ViewBag.month" />
                                    <input hidden name="year" value="@ViewBag.year" />
                                    <input hidden name="time" value="15" />
                                    }
                                </td>
                            }
                            break;

                        default:
                            Console.WriteLine("Should not get here. Error from WorkroomSelection.cshtml");
                            break;
                    }
                }
                </tr>
                }
            }
        }

    </table>
    if(count == 0 && LibraryWorkroomSystem.Models.Database.LibraryDatabase.getInstance().getWorkrooms(ViewBag.floornum).Count > 0)
    {
        <h3>Could not find any workrooms of this size on this floor.</h3>
    }
    }
</body>
</html>

